.centered-container {
    display: flex;
    justify-content: center;  /* horizontal */
    align-items: center;      /* vertical */
    height: 50vh;            /* full screen height */
  }
  
.centered-container h2 {
    margin-bottom: 1rem;
}
  
.centered-container h5 {
    margin-bottom: 2rem;
}
  